{# Plantilla base #}{% extends '../layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la página #} {% block title %}Modificar vehículo{% endblock %}

        {% block content %}
        <div class="center-container">
            <div class="center-container__title">
                <h1>Modificar vehículo - ID: {{id}}</h1>
            </div>
            <br>
            {% with vehicle_id=firetruck.id %}
            <form id="VehicleForm" method="post" action="" enctype="multipart/form-data">
        	{% endwith %}
            <br>
                {# Nombre #}
                <div class="input-box">
                    <label class="labelForm" for="input-name">Nombre:</label>
                    {{form.nameField}}
                </div>
                {# Descripción #}
                <div class="input-box">
                    <label class="labelForm" for="">Descripción (opcional):</label>
                    {{form.descriptionField}}
                </div>
                {# Patente #}
                <div class="input-box">
                    <label class="labelForm" for="">Patente:</label>
                    {{form.plateField}}
                </div>
                {# Modelo #}
                <div class="input-box">
                    <label class="labelForm" for="">Modelo:</label>
                    {{form.modelField}}
                </div>
                {# Año #}
                <div class="input-box">
                    <label class="labelForm" for="">Año:</label>
                    {{form.yearField}}
                </div>
                {# Tipo de unidad #}
                <div class="input-box">
                    <label class="labelForm" for="fireTruckType">Tipo:</label>
                    <select name="typeFireTruck" id="fireTruckType">
                        <option value="{{type.id}}" selected>{{type.name}}</option>
                        {% for type in types %}
                        <option value="{{type.id}}">{{type.name|title}}</option>
                        {% endfor %}
                    </select>
                </div>
                {# Imagen #}
                <div class="input-file-box">
                    <label for="inputImage">Seleccionar imagen</label>
                    {{form.imageField}}
                    <!--<input type="file" name="image" id="inputImage" class="form-control">-->
                    <input type="hidden" name="picture" id="picture">
                </div>
                <br>
                {% csrf_token %}
                {# Caja de Botones #}
                <div class="button-box2">
                    {# Botón - Modificar #}
                    <button id="truckDoneButton" class="button back_blue white" type="submit">Modificar vehículo</button>
                    {# Botón - Volver #}
                    <button id="back_btn" class="button back_red white" type="button"><i class="fa-sharp fa-solid fa-delete-left"></i> Volver</button>
                </div>
            </form>
        </div>
        {% endblock  %}