{% extends '../layouts/base2.html' %}
{# Cargar assets #}{% load static %}
{% block title %}Registrate{% endblock %}

        {% block content %}
        <div class="center-card">
            <div class="center-card__header">
                <img class="center-card__logo" src="{% static 'images/logo.webp' %}" alt="">
                <h3 class="center-card__name">Registro completado</h3>
            </div>
            <div class="center-card__content">
                <p class="center-card__p"><b>Su cuenta ha sido creada correctamente</b> y se encuentra a la espera de que un superior le de <b>aprobación</b>. 
                    
                    Cuando todo esté en orden, <b>recibirás un email</b> indicándote que ya puedes iniciar sesión</p>
                <div class="button-box">
                    <a class="button back_red white" href="{% url 'website-ruta_login' %}">Finalizar</a>
                </div>
            </div>
        </div>

        {% endblock %}