{% extends '../layouts/base.html' %}
{% load static %}
{% load humanize %}
{# Título de la página #} {% block title %}Insumos totales{% endblock %}

        {% block content %}
        <div class="center-container">
                <div class="center-container__title">
                    <h1>Insumos unitarios dentro del lote "{{ name_batch }}": {{total}} unidades</h1>
                </div>
                <div class="center-container__header">
                    <!--Botón agregar insumo-->
                    <button id="back_btn" class="button back_red white" type="button">Volver</button>
                </div>
                {% if batch %}
                <table id="itemsTable" class="responsive-table1 display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Unidad</th>
                            <th>Gaveta</th>
                            <th>Expiración</th>
                            <th>Mantención</th>
                            <th class="action-field">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in batch %}
                        <tr>
                            <td>{{ item.inventory_id }}</td>

                        {% if item.inventory.sku %}
                            <td>{{ item.inventory.sku }}</td>
                        {% else %}
                            <td>Sin código</td>
                        {% endif %}
                        
                            <td title="{{ item.inventorymetadata.name }}">
                                <b>{{ item.name|slice:":32" }}
                                    {% if item.name|length > 32 %}...{% endif %}
                                </b>
                            </td>
                            <td title="{{ item.categories.description }}">{{ item.inventory.categories.name|title }}</td>
                            <td>{{ item.brand|title }}</td>
                            <td>{{ item.model|title }}</td>

                        {% if item.price %}
                            <td>${{ item.price|intcomma }}</td>
                        {% else %}
                            <td>Sin precio</td>
                        {% endif %}

                            <td class="{{item.inventory.status.name}}"><b>{{item.inventory.status.name|title}}</b></td>
                            <td>{{item.inventory.compartments.fire_trucks.name|title}}</td>
                            <td>{{item.inventory.compartments.name|title}}</td>
                            
                        {% if item.inventory.expire_at %}
                        {% if "0" not in item.inventory.expire_at|timeuntil %}
                            <td>{{item.inventory.expire_at|date:"d/m/y"}} (Queda {{ item.inventory.expire_at|timeuntil }})</td>
                        {% else %}
                            <td class="red"><b>Expirado</b></td>
                        {% endif %}
                        {% else %}
                            <td>NO</td>
                        {% endif %}

                        {% if item.inventory.maintenance_hour or item.inventory.maintenance_programs_id %}
                        {% if item.inventory.maintenance_hour %}
                            <td>Cada {{item.inventory.maintenance_hour}} horas de uso</td>
                        {% elif item.inventory.maintenance_programs_id %}
                            <td>Programa {{item.inventory.maintenance_programs.name|title|slice:":32"}}</td>
                            {% if item.inventory.maintenance_programs.name|length > 32 %}...{% endif %}
                        {% endif %}
                        {% else %}
                            <td>NO</td>
                        {% endif %}
                            <td class="action-field">
                                {% if item.inventory.status_id == 1 %}
                                <a href="{% url 'website-ruta_update_item' item.inventory_id 0 item.name %}" title="Modificar" class="button_table back_green white"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'website-ruta_cancel_item' item.inventory_id 0 item.name %}" title="Dar de baja" class="button_table back_red white"><i class="fa-solid fa-down-long"></i></a>
                                {% else %}
                                No disponible
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>ID</td>
                            <td>Código</td>
                            <td>Nombre</td>
                            <td>Categoría</td>
                            <td>Marca</td>
                            <td>Modelo</td>
                            <td>Precio</td>
                            <td>Estado</td>
                            <td>Unidad</td>
                            <td>Gaveta</td>
                            <td>Expiración</td>
                            <td>Mantención</td>
                            <td class="action-field">Acciones</td>
                        </tr>
                    </tfoot>
                </table>
                {% else %}
                <p>No se encontraron insumos</p>
                {% endif %}
        </div>
        {% endblock  %}