{# Plantilla base #}{% extends '../layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la página #} {% block title %}Gavetas{% endblock %}

        {% block content %}
        <div class="center-container">
                <div class="center-container__title">
                        <h1>Buscar gaveta de almacenamiento por vehículo</h1>
                </div>
                
                
            <!--Bloque de tarjetas-->
            <div class="block-cards2">
                {% for firetruck in firetrucks %}
                <div class="item-card2">
                    <!--Imagen-->
                    <div class="item-card2__image">
                        {% if firetruck.image %}
                            <img src="../../../media/firetrucks/{{firetruck.image}}" alt="">
                        {% else %}
                            <img src="../../../media/firetrucks/default-firetruck.png" alt="">
                        {% endif %}
                    </div>

                    <!--Contenido-->
                    <div class="item-card__content2">
                        <div class="item-card__field2">
                            <a class="item-card__name" href=""><b>{{ firetruck.name|title }}</b></a>
                        </div>
                        <br>
                        {% for compartment in firetruck.compartments_with_per %}
                        <div class="item-card__field2">
                            <p class="item-card__compartment">
                                <b>{{compartment.name}}</b>
                                <span>
                                    {%if compartment.inventory_set.all%}{{compartment.inventory_set.all|length}}{%else%}0{%endif%}
                                    /
                                    {%if compartment.quantity%}{{compartment.quantity}}{%else%}0{%endif%}
                                </span>
                            </p>
                            {% if compartment.inventory_set.all and compartment.quantity %}
                            <div id="Progress{{compartment.id}}" class="progress" data-per="{{compartment.per|floatformat:0}}"></div>
                            <script>
                                document.getElementById("Progress{{compartment.id}}").setAttribute('style', `--wth:${document.getElementById("Progress{{compartment.id}}").getAttribute('data-per')}%;`);
                            </script>
                            {% else %}
                            <div class="progress" style="--wth:0%"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <br>
                        <div class="item-card__field2">
                            <b>Estado:</b>
                            <p class="item-card__status" title="Para activar el estado, primero debes establecer cantidades esperadas de insumos en las gavetas">Desconocido</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

                
                <div class="center-container__title">
                    <h1>Lista de gavetas de almacenamiento totales ({{ total }})</h1>
                </div>
                {% if firetrucks %}
                <div class="center-container__header">
                    <!--Botón agregar usuario-->
                    <a class="button back_blue white" href="{% url 'website-ruta_add_compartment' %}">Nueva gaveta</a>
                </div>
                
                <table id="compartmentsTable" class="responsive-table1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Unidad</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad de insumos</th>
                            <th>Capacidad esperada</th>
                            <th class="action-field">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for compartment in compartments %}
                        <tr>
                            <td>{{ compartment.id }}</td>
                            <td><b>{{ compartment.fire_trucks.name|title }}</b></td>
                            <td>{{ compartment.name|title }}</td>
                            {% if compartment.description %}
                            <td>{{ compartment.description }}</td>
                            {% else %}
                            <td>Sin descripción</td>
                            {% endif %}
                            {% if compartment.total_items %}
                            <td>{{compartment.total_items}}</td>
                            {% else %}
                            <td>Ninguno</td>
                            {% endif %}
                            {% if compartment.quantity %}
                            <td>{{ compartment.quantity }}</td>
                            {% else %}
                            <td>Sin definir</td>
                            {% endif %}

                            <td class="action-field">
                                <a href="{% url 'website-ruta_update_compartment' compartment.id %}" class="button_table back_green white"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'website-ruta_delete_compartment' compartment.id %}" class="button_table back_red white"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No se encontraron gavetas</p>
                {% endif %}
        </div>
        {% endblock  %}