{# Plantilla base #}{% extends '../layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la página #} {% block title %}Agregar gaveta{% endblock %}

        {% block content %}
        <div class="center-container">
            <div class="center-container__title">
                <h1>Modificar gaveta - ID: {{compartment.id}}</h1>
            </div>
            <br>
            <form id="" method="post" action="{% url 'website-ruta_update_compartment' compartment.id %}">
            <br>
                {# Nombre #}
                <div class="input-box">
                    {{form.nameField}}
                </div>
                {# Descripción #}
                <div class="input-box">
                    {{form.descriptionField}}
                </div>
                <div class="input-box">
                    {{form.quantityField}}
                </div>
                {# Tipo de unidad #}
                <div class="input-box">
                    <select name="FireTruck" id="selectFireTruck">
                        <option value="{{compartment.fire_trucks_id}}">{{compartment.fire_trucks.name}}</option>
                    </select>
                </div>
                <br>
                {% csrf_token %}
                {# Caja de Botones #}
                <div class="button-box2">
                    {# Botón - Crear #}
                    <button id="" class="button back_blue white" type="submit">Modificar</button>
                    {# Botón - Volver #}
                    <button id="back_btn" class="button back_red white" type="button"><i class="fa-sharp fa-solid fa-delete-left"></i> Volver</button>
                </div>
            </form>
        </div>
        {% endblock  %}